.container {
  position: relative;
  font-size: 40px;
  &::after {
    opacity: 0;
    content: attr(data-name);
    position: absolute;
    display: block;
    font-size: 18px;
    color: #ffffff;
    padding: 5px 10px;
    border: 1px solid #fff ;
    border-radius: 12px;
    background: #222222;
  }
  &:hover {
    &::after {
      opacity: 1;
      transition: all .3s linear;
    }
  }
}