.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #5a6265;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.photo {
  width: 300px;
  height: 300px;
  background: url('../../public/me.jpg') top / cover;
  border-radius: 150px;
  opacity: 0;
  transform: translateX(-30px);
  box-shadow: 0px 0px 20px 5px #000000a6;
}

.social-icons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  > *:not(:first-child) {
    margin-left: 25px;
  }

}

.content {
  color: #fff;
  font-size: 20px;
  margin-left: 150px;
  .title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 40px;
  }
  .block {
    display: flex;
  }
}

.active {
  .photo {
    position: relative;
    transition: all .3s linear;
    opacity: 1;
    transform: translateX(0);
    z-index: 1;
  }
}

.tips {
  position: absolute;
  bottom: 10px;
  color: #fff;
  font-size: 18px;
}