.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #002c37;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cloud-area {
  position: absolute;
  top: -50px;
  left: 0px;
  width: 100vw;
  height: 150px;
  background: url('../../public/cloud.png') center / contain repeat-x;
}

.title {
  text-transform: uppercase;
  color: #fff;
  font-size: 26px;
}
