.bg {
  background-image: url("../../public/space-3262811_1920.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  filter: brightness(0.4) blur(1px);
}