.bg {
  background-image: url("../../public/space-3262811_1920.jpg");
  background-size: cover;
  transform: scale(1.2);
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.4) blur(1px);
  z-index: -1;
}